@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
@using (Html.BeginForm("DetectThreshold", "Home"))
{   
        <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Threshold Recognizer</legend>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="accessText">Access Structure</label>
                <div class="col-md-8">
                    @Html.TextBox("access")
                    <!--<input id="accessText" name="accessText" type="text" placeholder="placeholder" class="form-control input-md" required="">-->
                    <span class="help-block">in form of P1^P2,P3^P4</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button class="btn btn-primary" value="DetectThreshold" type="submit">Find Threshold</button>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="thresholdsText">Detected Thresholds</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="thresholdsText" name="thresholdsText">
                        @foreach (var th in ViewBag.thresholds)
                        {
                            @th
                            @Environment.NewLine
                        }
                    
                    </textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="expandedText">Expanded sets</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="expandedText" name="expandedText">
                        @foreach (var qs in ViewBag.expanded)
                        {
                            @qs
                            @Environment.NewLine
                        }

                    </textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="attemptsText">Attempt sets</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="attemptsText" name="attemptsText">

                        @foreach (var re in ViewBag.remaining)
                        {
                            @re
                            @Environment.NewLine
                        }
                    </textarea>
                </div>
            </div>
        </fieldset>
    </form>
}
</body>
</html>
